@import 'tailwindcss';
@import '@/assets/font/fonts.css';

@theme {
  --font-family: 'Geist', sans-serif;
  --color-Foreground: #1a1a1a;
  --color-Primary: #2b2b2b;
  --color-Primary-Foreground: #fafafa;
  --color-Secondary: #f7f7f7;
  --color-Secondary-Foreground: #2b2b2b;
  --color-Muted: #f7f7f7;
  --color-Muted-Foreground: #737373;
  --color-Background: #ffffff;
  --color-Card: #ffffff;
  --color-Border: #ebebeb;
  --color-Input: #ebebeb;
  --color-Ring: #a3a3a3;
  --color-Destructive: #dc2626;
}
